<div class="outgoing-mail-log-detail-wrapper container">
  <div class="outgoing-mail-log-detail-meta row">

    {% if resend_link %}
    <div class="col-12 text-align-right">
      {{ resend_link }}
    </div>
    {% endif %}

    <div class="form-item field--label-inline col-6">
      <label class="field__label">{{ 'Date'|t }}</label>
      <div class="content">
        {{ log.sent }}
      </div>
    </div>
    <div class="form-item field--label-inline col-6">
      <label class="field__label">{{ 'Key'|t }}</label>
      <div class="content">
        {{ log.key }}
      </div>
    </div>
    <div class="form-item field--label-inline col-6">
      <label class="field__label">{{ 'To'|t }}</label>
      <div class="content">
        {{ log.to }}
      </div>
    </div>
    <div class="form-item field--label-inline col-6">
      <label class="field__label">{{ 'From'|t }}</label>
      <div class="content">
        {{ log.from }}
      </div>
    </div>
    <div class="form-item field--label-inline col-6">
      <label class="field__label">{{ 'User'|t }}</label>
      <div class="content">
        {{ log.user }}
      </div>
    </div>
    <div class="form-item field--label-inline col-6">
      <label class="field__label">{{ 'Status'|t }}</label>
      <div class="content">
        {{ log.status }}
      </div>
    </div>
  </div>
  <div class="outgoing-mail-log-detail-subject form-item field--label-inline row">
    <div class="col-12">
      <label class="field__label">{{ 'Subject'|t }}</label>
      <div class="content">
        {{ log.subject }}
      </div>
    </div>
  </div>
  <div class="outgoing-mail-log-detail-body form-item row">
    <div class="col-12">
      <label class="field__label">{{ 'Body'|t }}</label>
      <div class="content">
        {% if log.body %}
          {{ log.body | raw }}
        {% else %}
          {% if not log.saving_body %}
            <div class="not-saving" style="background-color:#e0e0e0; color: #6f6f6f; padding: 20px;">
            {{ 'This information is not available.'|t }}
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="outgoing-mail-log-detail-headers form-item row">
    <div class="col-12">
      <label class="field__label">{{ 'Headers'|t }}</label>
      <div class="content">
        {% for header, header_value in log.headers %}
          <div>{{ header }}: {{ header_value }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if log.ipaddress %}
    <div class="outgoing-mail-log-detail-ipaddress form-item row">
      <div class="col-12">
        <label class="field__label">{{ 'IP Address'|t }}</label>
        <div class="content">
          {{ log.ipaddress }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
